MONGO_DB_URI=mongodb+srv://Inna:4a_BBR4z%2AMa%25Nk-@cluster0.4nfickm.mongodb.net/contacts-db?retryWrites=true&w=majority&appName=Cluster0
PORT=3000
JWT_SECRET=sP3c!@lK3y_2025

SENDGRID_API_KEY=...
SENDER_EMAIL=...
BASE_URL=http://localhost:3000